<ion-content>
  <ion-card >
    <ion-card-content>
      <ion-grid>
        <ion-row>
         
          <ion-col>  <h1 class="midle"> {{ recette.title }} </h1> </ion-col>
         
        </ion-row>
        <ion-row>
           <ion-col> <ion-img src="{{recette.img + '_icon.png'}}">  </ion-img></ion-col>
        </ion-row>

        <ion-row>
    
         <ion-col> <p class="descriptionRestau">{{recette.Content}}</p> </ion-col>
        </ion-row>
      </ion-grid>
      
    </ion-card-content>
  </ion-card>
</ion-content>
