<ion-content padding>

  <h1 class="titleProduct">Acheter nos beaux produits</h1>

  <ion-card *ngFor="let produit of produitList">

    <ion-card-content >
      <ion-grid>
        <ion-row>
          <ion-col size="2">  <img class="logo" src="../../assets/poulpe3x.png"/></ion-col>
          <ion-col size="6">  <h1 class="midle"> {{ produit.name }} </h1> </ion-col>
          <ion-col size="2"> <h1>{{ produit.prix}} €</h1></ion-col>
          <ion-col size="2"> <ion-img src="../../assets/plusPanier.png" (click)="addProduitToCart(produit)"></ion-img></ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
    </ion-card>

</ion-content>