<<<<<<< HEAD
.logo{

    margin: 2%;
    height: 100;
    width: 100;
}
.midle{
    text-align: center;
=======
.logo{

    margin: 2%;
    height: 100;
    width: 100;
}
.midle{
    text-align: center;
>>>>>>> 94e36f73092a12d87ffb73b269f01e7ce126c4e8
}