
<ion-content>

  <ion-col>
    <div class="ion-text-center">
      <h3>Information du gérant </h3>
    </div>
  </ion-col>

  <ion-col>
    <div class="ion-text-center">
      <img id ="menu-img-gerant" src="../../assets/TIG3x.png">
    </div>
  </ion-col>

  <ion-col>
    <div id="des" class="ion-text-center">
      <div id="num" class="ion-text-center">
        <p>06.63.99.99.78 <br>  lebataudethibau@gmail.com <br> www.facebook.com/lebateaudetibault</p>
      </div>
    </div>
    <div id="desc">
      <p>qu'il est chaud le soleil</p>
      <p>Quand nous somme en vacance</p>
      <p>Y a de la joie, des hirondelles</p>
      <p>C'est le sud de la France</p>
      <p>Papa bricole au garage</p>
      <p>Maman lit dans la chaise longue</p>
      <p>Dans ce joli paysage</p>
      <p>Moi, je me balade en tonge</p>
      <p>Que du bonheur</p>
      <p>Que du bonheur</p>
    </div>
  </ion-col>

  <ion-col>
    <ion-button  (click)="ReturnToHome()" expand="block" color="medium"> retour à la page d'accueil </ion-button>
  </ion-col>
</ion-content>
