<ion-app>
  <ion-content padding>

    <div>
      <h1>Le bateau Thibault</h1>

      <p>Vente en direct de notre bateau Produits selon la saison, Livraisons sur paris</p>
      <p> 06.00.00.00.00</p>
      <p>bateauthibault@gmail.com</p>
      <p>www.facebook.com/lebateauthibault</p>
    </div>

        <ion-grid>
          <ion-row>
            <ion-col>
                <ion-button expand="full" ><ion-img [src]="../../assets/poisson.png"></ion-img> et promotions</ion-button>
            </ion-col>
          </ion-row>

          <ion-row >
            <ion-col>
              <ion-button expand="full" ><img class="buttonIcon" src="../../assets/ancre.png"><ion-label>Bateaux</ion-label></ion-button>
            </ion-col>
            <ion-col>
              <ion-button expand="full" ><img class="buttonIcon" src="../../assets/restaurant.png"><ion-label>Restaurants</ion-label></ion-button>
            </ion-col>
          </ion-row>

          <ion-row >
            <ion-col>
              <ion-button  expand="full" ><img class="buttonIcon" src="../../assets/recette.png">Recettes</ion-button>
            </ion-col>
            <ion-col>
              <ion-button  expand="full" ><img class="buttonIcon" src="../../assets/tourteau.png">Contact</ion-button>
            </ion-col>
          </ion-row>

        </ion-grid>

  </ion-content>
</ion-app>
