<ion-content [fullscreen]="true">
  <ion-col>
    <div class="ion-text-center">
      <h3>Le Bateau de Thibault</h3>
    </div>
  </ion-col>

  <ion-col>
    <div id="des" class="ion-text-center">
        <p>Vente en direct de bateau <br> Produit selon la saison, livraison sur Paris</p>

      <div id="num" class="ion-text-center">
        <p>06.63.99.99.78 <br>  lebataudethibau@gmail.com <br> www.facebook.com/lebateaudetibault</p>
      </div>
    </div>
  </ion-col>
  
        <ion-grid>
          <ion-row>
            <ion-col align-self-center>
              <ion-button  expand="block" color="medium">
                <img  id ="menu-img" src="../../assets/poisson.png"> Produit et promotion </ion-button>
            </ion-col>  
          </ion-row>        
        </ion-grid>

       <ion-grid>
          <ion-row>
            <ion-col align-self-center>
              <ion-button [routerLink]="['/']" expand="block" color="medium">
                <img  id ="menu-img" src="../../assets/ancre3x.png"> Bateaux </ion-button>
          </ion-col>
          <ion-col>
            <ion-button [routerLink]="['/']" expand="block" color="medium">
              <img  id ="menu-img" src="../../assets/restaurant.png"> restaurant </ion-button>
          </ion-col>  
        </ion-row>        
      </ion-grid>

      
  <ion-row >
    <ion-col>
      <ion-button (click)="onGoToRecette()" expand="block" color="medium">
        <img  id ="menu-img" src="../../assets/recette2x.png"> Recette </ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="onGoToContact()" expand="block" color="medium">
        <img  id ="menu-img" src="../../assets/poulpe3x.png"> Contact </ion-button>
    </ion-col>
  </ion-row>


</ion-content>
