#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}
.gategorie{
  position: relative;
  left: 50%;
}
#container a {
  text-decoration: none;
}
.item-text-wrap .col{
  text-align: center;
}
ion-content {
  --background: url(../../assets/background.png) no-repeat center/cover fixed;
}
h3 {
  font-family:Luminarie !important;
  font-style: italic;
  font-size:2em;
  color: white;
}
#num{
  opacity: 0.5;
  margin-bottom: 110px
}

.menu-img{
  margin: 2px;
  width: 25;
	height: 25;
}
.aligne{
	display:inline-block;
	width:45%;
	margin:10px 2.5% 10px 2.5%;
	text-align:center;
}