<ion-content [fullscreen]="true">
  <ion-col>
    <div class="ion-text-center">
      <h3>Le Bateau de Thibault</h3>
    </div>
  </ion-col>

  <ion-col>
    <div id="des" class="ion-text-center">
        <p>Vente en direct de bateau <br> Produit selon la saison, livraison sur Paris</p>

      <div id="num" class="ion-text-center">
        <p>06.63.99.99.78 <br>  lebataudethibau@gmail.com <br> www.facebook.com/lebateaudetibault</p>
      </div>
    </div>
  </ion-col>
  
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-card (click)="onGoToProduit()"  expand="block">

                <ion-card-content >
                  <ion-grid>
                    <ion-row>
                      <ion-col size="2">  <img class="menu-img" src="../../assets/poisson.png"> </ion-col>
                      <ion-col >  <h1 > Poissons et promossions </h1> </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-card-content>
                
              
              </ion-card>
            </ion-col>  
          </ion-row>        
        </ion-grid>

       <ion-grid>
          <ion-row>
            <ion-col align-self-center>
              <ion-card (click)="onGoToBateauxList()"  expand="block">

                <ion-card-content >
                  <ion-grid>
                    <ion-row>
                      <ion-col size="2">  <img class="menu-img" src="../../assets/ancre.png"> </ion-col>
                      <ion-col size="6">  <h1 > Bateaux </h1> </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-card-content>
                
              
              </ion-card>
          </ion-col>
          <ion-col>
            <ion-card (click)="onGoToRestaurantsList()"  expand="block">

              <ion-card-content >
                <ion-grid>
                  <ion-row>
                    <ion-col size="2">  <img id ="menu-img" src="../../assets/restaurant.png"> </ion-col>
                    <ion-col size="8">  <h1 > Restaurant </h1> </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-content>
              
            
            </ion-card>
          </ion-col>  
        </ion-row>        
      </ion-grid>

      
  <ion-row >
    <ion-col>
      <ion-card (click)="onGoToRecette()"  expand="block">

        <ion-card-content >
          <ion-grid>
            <ion-row>
              <ion-col size="2">  <img id ="menu-img" src="../../assets/recette2x.png"> </ion-col>
              <ion-col size="8">  <h1 > Recette </h1> </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
        
      
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card (click)="onGoToContact()"  expand="block">

        <ion-card-content >
          <ion-grid>
            <ion-row>
              <ion-col size="2">  <img id ="menu-img" src="../../assets/poulpe3x.png"> </ion-col>
              <ion-col size="8">  <h1 > Contact </h1> </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
        
      
      </ion-card>
    </ion-col>
  </ion-row>


</ion-content>
